<!--
    1. Copy this file into your site root's "layouts/partials/hooks" folder
    2. Add the necessary code to integrate with third-party services or to customize your site further
-->
<div class="bootstrap">
<!-- Fixed navbar -->
<div class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <!-- Button for smallest screens -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
            <a class="navbar-brand" href="/index.html">
                <img src="http://www.ihpc.se.ritsumei.ac.jp/logo.jpg"></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav pull-right mainNav">
                        <li class="active"><a href="/index.html">Home</a></li>
                <li class="dropdown">
                    <a href="/ResearchTopics.html" class="dropdown-toggle" data-toggle="dropdown">Research Topics <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/ResearchTopics.html#AIHPC">AI + 高性能計算 (AIHPC)</a></li>
                        <li><a href="/ResearchTopics.html#culture">AI + 文化遺産の整理と保護</a></li>
                        <li><a href="/ResearchTopics.html#IOT">AI + IoT (AIoT)</a></li>
                        <li><a href="/ResearchTopics.html#INDUSTRY">AI + 産業</a></li>
                    </ul>
                <li><a href="/Member.html">Member</a></li>
                <li><a href="{{ .Site.BaseURL | relLangURL }}">News</a></li>
                <li><a href="/Publication.html">Publication</a></li>
                <li><a href="/Projects.html">Projects</a></li>
                                    <li class="dropdown">
                    <!-- <a href="#" class="dropdown-toggle" data-toggle="dropdown">JP<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="News.html">ENGLISH</a></li>
                    </ul> -->

            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</div>
<!-- /.navbar -->
</div>